<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="f7d0bd">  <td>21/05/24 12:03:56</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Test_signup.setup()[pri:0, instance:test.Test_signup@13e39c73]">&gt;&gt;setup</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667821226</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>21/05/24 12:03:59</td>   <td>2988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_signup.test_validateSignup()[pri:1, instance:test.Test_signup@13e39c73]">test_validateSignup</td> 
  <td>main@667821226</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>21/05/24 12:04:07</td>   <td>11173</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Test_signup.test_validateSignupErrors()[pri:2, instance:test.Test_signup@13e39c73]">test_validateSignupErrors</td> 
  <td>main@667821226</td>   <td></td> </tr>
<tr bgcolor="f7d0bd">  <td>21/05/24 12:04:19</td>   <td>23559</td> <td>&nbsp;</td><td title="&lt;&lt;Test_signup.teardown()[pri:0, instance:test.Test_signup@13e39c73]">&lt;&lt;teardown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@667821226</td>   <td></td> </tr>
</table>
