<h2>Reporter output</h2><table><tr><td>Running Tests: test_validateSignup</td></tr>
<tr><td>PASS, Entered value 'TestUser' in textbox</td></tr>
<tr><td>PASS, Entered value 'siqnkrdg8l@noemail.com' in textbox</td></tr>
<tr><td>PASS, Entered value 'Password!@#123' in textbox</td></tr>
<tr><td>PASS, Element contains text: 'Good password</td></tr>
<tr><td>PASS, Clicked element 'Miro Terms'</td></tr>
<tr><td>PASS, Clicked element 'Miro Subscribe'</td></tr>
<tr><td>PASS, Clicked element 'GetStartedNow'</td></tr>
<tr><td>PASS, Element contains text: 'Check your email</td></tr>
<tr><td>PASS, Element contains text: 'siqnkrdg8l@noemail.com</td></tr>
<tr><td>Test Completed: test_validateSignup</td></tr>
<tr><td>Running Tests: test_validateSignupErrors</td></tr>
<tr><td>PASS, Clicked element 'Accept Cookies'</td></tr>
<tr><td>PASS, Clicked element 'GetStartedNow'</td></tr>
<tr><td>PASS, Element contains text: 'Please enter your password.</td></tr>
<tr><td>PASS, Entered value 'DemoTest@123@#$%#' in textbox</td></tr>
<tr><td>PASS, Element contains text: 'Great password</td></tr>
<tr><td>PASS, Clicked element 'GetStartedNow'</td></tr>
<tr><td>PASS, Element contains text: 'Please enter your name.</td></tr>
<tr><td>PASS, Element contains text: 'Please enter your email address.</td></tr>
<tr><td>PASS, Entered value 'TestUser' in textbox</td></tr>
<tr><td>PASS, Entered value 'xrp1qkhay4@noemail.com' in textbox</td></tr>
<tr><td>PASS, Entered value 'DemoTest@12' in textbox</td></tr>
<tr><td>PASS, Element contains text: 'Good password</td></tr>
<tr><td>PASS, Clicked element 'Miro Subscribe'</td></tr>
<tr><td>PASS, Clicked element 'GetStartedNow'</td></tr>
<tr><td>PASS, Element contains text: 'Please agree with the Terms to sign up.</td></tr>
<tr><td>PASS, Clicked element 'Miro Terms'</td></tr>
<tr><td>PASS, Clicked element 'GetStartedNow'</td></tr>
<tr><td>PASS, Element contains text: 'Please enter your password.</td></tr>
<tr><td>PASS, Entered value 'DemoTest' in textbox</td></tr>
<tr><td>PASS, Element contains text: 'So-so password</td></tr>
<tr><td>PASS, Clicked element 'GetStartedNow'</td></tr>
<tr><td>PASS, Element contains text: 'Check your email</td></tr>
<tr><td>PASS, Entered value '111111' in textbox</td></tr>
<tr><td>PASS, Element contains text: 'Sorry, this code is invalid</td></tr>
<tr><td>PASS, Entered value '222222' in textbox</td></tr>
<tr><td>PASS, Entered value '333333' in textbox</td></tr>
<tr><td>PASS, Entered value '444444' in textbox</td></tr>
<tr><td>PASS, Element contains text: 'Email confirmation attempts exceeded</td></tr>
<tr><td>Test Completed: test_validateSignupErrors</td></tr>
</table>